## .NET
bin/
obj/
*.user
.vs/
*.suo
*.sdf
*.dbmdl
*.log
*.nupkg
## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

CONTEXT.md
CONTEXT_FULL.md

# Context files with secrets
CONTEXT.md
CONTEXT_FULL.md
